# After deploying contracts, paste the addresses here
NEXT_PUBLIC_TOKEN_ADDRESS=0xc2Cb92a6e9B5F1dF8EF5Abb20ae6115a7a260257
NEXT_PUBLIC_QUORUM_ADDRESS=NEXT_PUBLIC_QUORUM_ADDRESS=0xE1762e61E24dAF19776a8058eFeC6F08230D21a8
# 11155111 = Sepolia testnet
NEXT_PUBLIC_CHAIN_ID=11155111
# Get a free RPC from https://www.alchemy.com
NEXT_PUBLIC_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/alch__0_XXKtdkWfUJmmpYVpDF
